<h1>Editing Reservation</h1>

<%= render 'form' %>

<%= link_to 'Show', property_reservation_path(@reservation.property, @reservation) %> |
<%= link_to 'Back', property_reservations_path(current_user.property) %>
