/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require font-awesome
 *= require_self
 *= require_tree .
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/square/blue.css);


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FDFFFC;
  font-size: 16px;
  color: #011627;
  min-height: 100vh;
  /*Force the header at the top, section at the middle and footer at the bottom*/  
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #2EC4B6;
  text-decoration: none;
}

a:hover, a:focus {
  /*TODO: Colors needs to be changed*/
  color: #27A498;
  text-decoration: none;
}

a:focus {
  outline: none;
}

b {
  font-weight: 700;
}

p {
  margin: 1em 0;
  line-height: 1.33;
}
.section-container {
  width: 100%;
  text-align: center;
}
/* Use this when there is only 1 section and you want it to be vertically aligned */
#section-main {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.spacer {
  height: 2em;
}
.spacer-v {
  margin-left: 1em;
}
/*HEADERS*****************************/

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3 {
  margin-top: 34px;
  margin-bottom: 17px;
}
h4, h5, h6 {
  margin-top: 17px;
  margin-bottom: 17px;
}
h1 {
  font-size: 3.64em;
}
h2 {
  font-size: 3.07em;
}
h3 {
  font-size: 2.22em;
}
h4 {
  font-size: 1.35em;
}
h5 {
  font-size: 1.285em;
}
.title {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
.title span {
  color: #E71D36;
  font-size: 0.77em;
}
h6 {
  font-size: 1em;
  font-weight: 400;
}

section {
  /* border: 1px solid green; */
  margin-top: 1.5em;
  padding: 0 1em;
}

/*BUTTONS*****************************/
button, .btn {
  border: 1px solid transparent;
  color: #FDFFFC;
  background-color: #011627;
  border-color: #011627;
  padding: 7px 14px;
  font-weight: 400;
  line-height: 1.42857143;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.btn.big, button.big {
  font-size: 1.33em;
  padding: 9px 18px;
}

button:hover, button:focus, .btn:hover, .btn:focus {
  background-color: #022C4D;
  border-color: #022C4D;
  color: #FDFFFC;
}

.btn-blue {
  background-color: #2489c5;
  border-color: #2489c5;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #1e72a4;
  border-color: #1e72a4;
}

.btn-aqua {
  background-color: #2EC4B6;
  border-color: #2EC4B6;
}

.btn-aqua:hover, .btn-aqua:focus {
  background-color: #27A498;
  border-color: #27A498;
}

.btn-red {
  background-color: #E71D36;
  border-color: #E71D36;
}

.btn-red:hover, .btn-red:focus {
  background-color: #C8152B;
  border-color: #C8152B;
}

.btn-pink {
  background-color: #e35583;
  border-color: #e35583;
}
.btn-pink:hover, .btn-pink:focus {
  background-color: #dd336a;
  border-color: #dd336a;
}

.btn-orange {
  background-color: #FF9F1C;
  border-color: #FF9F1C;
}

.btn-orange:hover, .btn-orange:focus {
  background-color: #F48D00;
  border-color: #F48D00;
}

i {
  margin: 0 0.45em;
}
/*TOOLTIP*****************************/
/*FORMS*******************************/

.field {
  /* border: 1px solid green; */
  
  margin: 1.33em auto;
}

label {
  display: block;
  margin-bottom: 0.625em;
  font-weight: 700;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]), textarea {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  color: #434a54;
  border-color: #aab2bd;
  display: block;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]):focus, input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]):hover, textarea:focus, textarea:hover {
  border-color: #2EC4B6;
}

.cbox-wrapper, .rbutton-wrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 1.33em;
}

label.cbox, label.rbutton {
  display: inline-block;
  /*Margin Required otherwise label is not aligned. Why?*/
  
  margin: 0 0 0 0.5em;
  cursor: pointer;
  font: 16px/22px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*CALENDAR****************************/

.flatpickr-wrapper {
  display: inline-block;
  position: relative;
  /* width: 800px; */
}

.flatpickr-wrapper input {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.flatpickr-calendar {
  background-color: white;
  /* color: #2489c5; */
  
  color: #011627;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5em;
  opacity: 0;
  padding: 1em;
  border: 1px solid #ccc;
  max-height: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: opacity 550ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: opacity 550ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.flatpickr-calendar:hover {
  border-color: #2EC4B6;
}

.open .flatpickr-calendar, .inline .flatpickr-calendar {
  max-height: 19em;
  z-index: 100;
  opacity: 1;
}

.inline .flatpickr-calendar {
  position: static;
}

.flatpickr-months {
  /* color: black; */
  /*default 2px*/
  /* padding: 0.5em; */
  
  text-align: center;
  font-size: 1em;
}

.flatpickr-prev-month, .flatpickr-next-month {
  text-decoration: none;
  padding: 0 .667em;
  cursor: pointer;
}

.flatpickr-prev-month {
  float: left
}

.flatpickr-next-month {
  float: right
}

.flatpickr-current-month {
  padding: 0 .5em;
  font-weight: normal;
  font-size: 1.285em;
}

.flatpickr-current-month span {
  font-weight: 700;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  color: #1e72a4;
}

.flatpickr-calendar table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.flatpickr-calendar thead {
  /* font-size: 16px */
}

.flatpickr-calendar th, .flatpickr-calendar td {
  width: 14.28571%;
}

.flatpickr-calendar th {
  text-align: center;
  padding: 18px 5px 5px 5px;
  font-weight: bold;
  /* color: #011627; */
}

.flatpickr-calendar td span {
  margin-left: 0.35em;
}

.flatpickr-calendar .slot {
  cursor: pointer;
}

.flatpickr-day {
  border: 1px solid transparent;
  display: block;
  height: 32px;
  /* line-height: 32px; */
  
  padding: 0;
  /* text-align: center; */
  
  width: 32px;
  border-radius: 150px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flatpickr-calendar td:hover .flatpickr-day {
  background: #2489c5;
  border-color: #2489c5;
  color: white;
}

.today .flatpickr-day {
  border-color: #2489c5;
}

td.today:hover .flatpickr-day {
  border-color: #2489c5;
  background-color: #2489c5;
  color: white;
}

.selected .flatpickr-day, td.selected:hover .flatpickr-day {
  background-color: #2489c5;
  color: white;
  border-color: #2489c5;
}

.flatpickr-calendar .disabled, .flatpickr-calendar .disabled .flatpickr-day, .flatpickr-calendar .disabled:hover .flatpickr-day {
  background: transparent;
  border-color: transparent;
  color: #ccc;
  /* cursor: default; */
  
  cursor: not-allowed;
}

/*SITE HEADER****************************/

header {
  background: #efefef;
  background: linear-gradient(90deg, #43cea2 10%, #185a9d 90%);
  color: #FDFFFC;
}

header a {
  color: #FDFFFC;
  opacity: 0.8;
}

header a:hover {
  color: rgba(89, 33, 51, 0.618);
}

.header-container {
  display: flex;
}

.header-container > div {
  padding: 1em;
  font-size: 1.285em;
  /* font-size: 1.33em; */
  font-weight: 700;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  flex-basis: 0;
  flex-grow: 1;
}
.header-container .left {
  
}
.header-container .center {
  
}
.header-container .right {
  text-align: right;
}

#header-user-info {
 font-weight: normal;
}

/*NAVIGATION**************************/


/*NOT A PART OF UI KIT****************/

#all-swatches-container {
  display: flex;
}

.swatches-container {
  margin-bottom: 0.625em;
  padding-left: 1em;
  padding-right: 1em;
  width: 200px;
}

.swatches {
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.colors-display {
  display: flex;
}

.colors-display > div {
  width: 50%;
  height: 4em;
}

.colors-info {
  padding: 8px 12px;
}

.colors-info h6 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.colors-info p {
  font-size: 0.85em;
}

/*FOOTER /////////////////////////////////*/
footer {
  margin-top: 2em;
  padding: 1.618em 0;
  background: #2489c5;
}

.footer-inner {
  display: flex;
  justify-content: center;
  /* padding-top: 2em; */
}
footer a {
  color: #FDFFFC;
  padding: 1em;
  font-weight: bold;
}
footer a:hover {
  /* color: #f1a9c0; */
  color: rgba(89,33,51,0.618);
  /* color: green; */
}