/*
http://codepen.io/overdrivemachines/pen/LGPyPp
*/

/*ROOMS/////////////////////////*/

#room-types-container, #rooms-container {
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 1.667em;
}

li.rc {  
  border: 1px solid #2EC4B6;
  margin: 0.667em 0.667em 0.667em 0.667em;
  border-radius: 4px;
  background: none;
  color: #2EC4B6;
  cursor: pointer;
  padding: 1em;
  font-weight: 700;
}

li.rc.is-selected, .rc:hover {
  background: #2EC4B6;
  color: #FDFFFC;
}

.rc > .iradio_square-blue {
  display: none;
}
.rc > .rn {
  font-size: 2em;
}
.rc > .rp {
  font-weight: 400;
  margin-top: 0.667em;
}

.display-price {
  padding-left: 1em;
}
.dp-row {
  padding: 0.5em 0;
  width: 13em;
  display: flex;
}
.dp-row > div {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
}


.col1 {
  
}

.col2 {
  text-align: right; 
}

#room-price, #total-room-price, #tax {
  border: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 16px;
}







