/*
http://codepen.io/overdrivemachines/pen/zrYvBo
*/
.res-list {
  /* max-width: 800px; */
  margin: 2em;
}
.res-item {
  padding: 1em 0;
  display: flex;
  border-bottom: 1px solid #ccc;
  transition:.5s;
}
.res-item:hover {
  background: #efefef;
  /* transition:.5s; */
}
.res-item:last-child {
  border-bottom: none;
}
.room-number {
  font-size: 2.85em;
  font-weight: 700;
  width: 160px;
  text-align: right;
  border-right: 1px solid #ccc;
  padding-right: 16px;
}
.res-details-c {
  padding: 0 1em;
  max-width: 520px;
}
.names {
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 0.33em;
  font-size: 1.1em;
  margin-top: 4px;
}
.res-details {
  padding-bottom: 0.61em;
}
.res-details > div {
  font-size: 0.85em;
  display: inline-block;
  padding-right: 1em;
  width: 190px;
  line-height: 1.3;
}
.res-details > div.res-nights{
  width: 90px;
}
.res-badges {
  
}
.res-badges .badge {
  margin-right: 1em;
}

.res-actions {
  display: flex;
  align-items: center;
}

.res-actions a {
  /* border: 1px solid green; */
  padding: 1em;
  margin: 1em;
}