body {
  /*background-image: url("http://s10.postimg.org/jfgbfcla1/image.png");
  background-size: contain;*/
  /* background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); */ /* W3C */
  background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%);  
  /* justify-content: space-between; */
}



/*SECTION LOGIN//////////*/
.section-login {
  color: #FDFFFC;
}
.section-login .app-logo {
  /* text-align: center; */
}
.section-login .app-logo img {
  width: 8em;
}
.section-login h3 {
  font-weight: normal;
}

.lg-c {
  display: inline-block;
}

/* Icon to the left of the input */
#new_user i {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.25em 0px 0px 0.25em;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  height: 2.3em;
  width: 2.3em;
  line-height: 2.3em;
  text-align: center;
  font-size: 1.133em;
  margin: 0;
}

#new_user #user_email,
#new_user #user_password {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0.25em 0.25em 0px;
  width: 13em;
  border: 1px solid rgba(255,255,255,0.3); 
  color: #333;
  height: 2.3em;
  font-size: 1.133em;
  outline: 0;
}

#new_user input[type="submit"] {
  margin-top: 0.618em;
}

.section-login hr {
  margin-top: 1.2em;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  max-width: 20em;
}

.login-other-links {
  margin-top: 1em;
  font-size: 16px;
  line-height: 2;  
}
.login-other-links a {
  /* line-height: 2.3; */
  color: white;
  text-decoration: underline;
}

footer {
  background: none;
}

