/*SECTION WELCOME//////////*/
/* section-welcome defined in SECTION LOGIN */
.items-container {
  display: flex;
  /* max-width: 70em; */
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  margin: 1.618em;
  /* font-size: 1.618em; */
}
.item-icon-container {
  display: flex;
  background: rgba(255,255,255,0.667);
  border-radius: 17.544%;
  width: 7em;
  height: 7em;
  justify-content: center;
  align-content: center;
  border: 2px solid #dd336a;
}
.item-icon-container i {
  /* display: block; */
  align-self: center;
}
.item a {
  display: block;
  /* font-size: 1.333em; */
}
.item a h2 {
  padding: 0;
  padding-top: 1em;
  font-size: 1em;
  margin: 0;
}

.checkin-icon {
  background: #2ecc71;
  border: 2px solid #27ae60;
}
.checkin-icon i, .checkin-icon + h2 {
  color: #27ae60;
}

.reservation-icon {
  background: #3498db;
  border: 2px solid #2980b9;
}
.reservation-icon i, .reservation-icon + h2 {
  color: #2980b9;
}

.calendar-icon {
  background: #e74c3c;
  border: 2px solid #c0392b;
}
.calendar-icon i, .calendar-icon + h2 {
  color: #c0392b;
}

.search-icon {
  background: #34495e;
  border: 2px solid #2c3e50;
}
.search-icon i, .search-icon + h2 {
  color: #2c3e50;
}

.reports-icon {
  background: #ecf0f1;
  border: 2px solid #bdc3c7;
}
.reports-icon i, .reports-icon + h2 {
  color: #bdc3c7;
}

.settings-icon {
  background: #95a5a6;
  border: 2px solid #7f8c8d;
}
.settings-icon i, .settings-icon + h2 {
  color: #7f8c8d;
}